
    <md-toolbar [color]="myColor">
        <button md-icon-button class="mobile-toggle" (click)="mobileMenu.toggle()"><i class="fa fa-navicon fa-fw fa-2x" aria-hidden="true"></i></button>
        <p class="menu-title mobile-toggle">Trails application
            <p>
                <button md-icon-button class="desktop-toggle menu-item-2-right" *ngIf="!auth.loggedIn()" (click)="auth.login()">
                    <i class="fa fa-sign-in fa-fw fa-2x" aria-hidden="true"></i>
                </button>
                <button md-raised-button class="desktop-toggle" *ngIf="auth.loggedIn()" (click)="router.navigate(['/home'])">
                    <i class="fa fa-home fa-fw fa-lg" aria-hidden="true"></i>Home
                </button>
                <button md-raised-button class="desktop-toggle" *ngIf="auth.loggedIn()" (click)="router.navigate(['/trails'])">
                    <i class="fa fa-map fa-fw fa-lg" aria-hidden="true"></i>Trails
                </button>
                <button md-icon-button class="desktop-toggle menu-item-2-right" *ngIf="auth.loggedIn()" (click)="router.navigate(['/profile'])">
                    <i class="fa fa-user fa-fw fa-2x" aria-hidden="true"></i>
                </button>
                <button md-icon-button class="desktop-toggle menu-item-1-right" *ngIf="auth.loggedIn()" (click)="auth.logout()">
                    <i class="fa fa-sign-out fa-fw fa-2x" aria-hidden="true"></i>
                </button>
    </md-toolbar>
    <md-sidenav-layout>
    <md-sidenav #mobileMenu>
        <div class="sidenav">
            <div class="sidenav-menu-item mobile-toggle" *ngIf="!auth.loggedIn()">
                <button md-icon-button (click)="auth.login();mobileMenu.close()">
                    <i class="fa fa-sign-in fa-fw fa-2x" aria-hidden="true"></i>Log in
                </button>
            </div>
            <div class="sidenav-menu-item mobile-toggle" *ngIf="auth.loggedIn()">
                <button md-icon-button (click)="router.navigate(['/home']);mobileMenu.close()">
                    <i class="fa fa-home fa-fw fa-2x" aria-hidden="true"></i>Home
                </button>
            </div>
            <div class="sidenav-menu-item mobile-toggle" *ngIf="auth.loggedIn()">
                <button md-icon-button (click)="router.navigate(['/trails']);mobileMenu.close()">
                    <i class="fa fa-map fa-fw fa-2x" aria-hidden="true"></i>Trails
                </button>
            </div>
            <div class="sidenav-menu-item mobile-toggle" *ngIf="auth.loggedIn()">
                <button md-icon-button (click)="router.navigate(['/profile']);mobileMenu.close()">
                    <i class="fa fa-user fa-fw fa-2x" aria-hidden="true"></i>Profile
                </button>
            </div>
            <div class="sidenav-menu-item mobile-toggle" *ngIf="auth.loggedIn()">
                <button md-icon-button (click)="auth.logout();mobileMenu.close()">
                    <i class="fa fa-sign-out fa-fw fa-2x" aria-hidden="true"></i>Log out
                </button>
            </div>
            <div class="sidenav-menu-item">
                <button md-icon-button (click)="mobileMenu.close()">
                    <i class="fa fa-close fa-fw fa-2x" aria-hidden="true"></i>Close
                </button>
            </div>
        </div>
    </md-sidenav>
</md-sidenav-layout>
