<div class="container">
    <div class="row content-centered-vertically">
        <div class="content-centered-horizontally">
            <md-input class="foris-input" placeholder="Användarnamn">
                <span md-prefix>
                	<i class="fa fa-user" aria-hidden="true"></i>
                </span>
            </md-input>
            <md-input class="foris-input" placeholder="Lösenord" type="password">
                <span md-prefix>
                	<i class="fa fa-key" aria-hidden="true"></i>
                </span>
            </md-input>
            <button md-raised-button class="foris-btn foris-login-btn">Logga in</button>
            <button md-raised-button class="foris-btn foris-register-btn">Registrera</button>
            <md-input class="foris-input" placeholder="Epost">
                <span md-prefix>
                	<i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </md-input>
            <md-input class="foris-input" placeholder="Lösenord" type="password">
                <span md-prefix>
                	<i class="fa fa-key" aria-hidden="true"></i>
                </span>
            </md-input>
            <md-input class="foris-input" placeholder="Upprepa lösenord" type="password">
                <span md-prefix>
                	<i class="fa fa-key" aria-hidden="true"></i>
                </span>
            </md-input>
        </div>
    </div>
</div>
