<div class="content">
    <div class="login-content">
        <form role="form" (submit)="login($event, username.value, password.value)">
            <div class="form-group">
                <input type="text" #username class="form-control foris-input" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" #password class="form-control foris-input" id="password" placeholder="Password">
            </div>
            <div class="foris-btn-group">
                <button type="submit" md-raised-button class="foris-btn foris-login-btn">Login</button>
                <button type="button" md-raised-button class="foris-btn foris-register-btn">Register</button>
            </div>
        </form>
    </div>
</div>
